.content__text {
    font-family: 'OpenSans';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: white;
    margin: 0 auto;
    width: 379px;
    padding-top: 14px;
    padding-bottom: 10px;
}